body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f1f1f1;
}
.caja{
    max-width: 500px;
    width: 50%;
    height: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c2c54;
   border-radius: 80px;
    text-align: center;
    overflow: hidden;

}

.caja h1{
    color: rgb(199, 199, 199);
    font-size: 16px;
    text-transform:uppercase ;
}

.caja input[type ="text"], .caja input[Type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #89d0ff;
    padding: 6px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .5s ease all;
}

.caja input[type ="text"]:focus, .caja input[Type = "text"]:focus{

  transform: scale(1.05);
    border-color: #ffffff;
    color: #89d0ff;
}

.caja input[type = "submit"]{
    border: 0;
    background-color: #31466e;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 20px ;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .5s ease all;
    cursor: pointer;

}

.caja input[type = "submit"]:hover{

background-color: #446a8a;
color: rgb(255, 255, 255);

}
.caja output[type = "number"]{

color:#2ecc71 ;
font-size: 22px;
text-align: left;

}